.card-container:hover {
  cursor: pointer;
}

.img-assoc-container {
  height:250px;
}

.img-assoc-container img {
  height:90%;
  width:100%;
  object-fit: contain;
}

.btn-close-container {
  position: relative;
  width: 0px !important;
  transform: translate(-15px, 5px);
  padding-right:0px !important;
  padding-left:0px !important;
}

.btn-delete {
  position:absolute;
  top:0;
  right:0;
}

#homeAlert {
  display: none;
}

#btnCloseAlert {
  float:right;
}